.authentication-panel {
  align-items: center;
  background-color: $c_light;
  background-image: linear-gradient(to right, #{$c_light}, #{$c_dark});
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;

  .logo-container {
    height: 63px;
    width: 378px;
  }
}

.firebaseui-auth-container {
  padding: 2em 0;
}

.firebaseui-auth-container .firebaseui-tospp-full-message {
  color: white;

  a {
    color: #FFDC00;
  }
}