$c_light: #f85032;
$c_dark: #e73827;
$c_accent: #ffdc00;

$background_gradient: linear-gradient(to left, #{$c_light}, #{$c_dark});

$logo_width: 378px;
$logo_height: 63px;

$masthead_height: 100px;

$sidebar_width: 400px;

$wrapper_width: 740px;