html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

p {
  margin: 1em 0; }

h1:first-child,
h2:first-child,
h3:first-child,
p:first-child {
  margin-top: 0; }
h1:last-child,
h2:last-child,
h3:last-child,
p:last-child {
  margin-bottom: 0; }

a {
  background-color: transparent;
  outline: none; }

b,
strong {
  font-weight: bolder; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

textarea {
  overflow: auto; }

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0; }

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

[hidden] {
  display: none; }

html {
  height: 100%; }

body {
  font-family: 'ff-tisa-sans-web-pro', sans-serif;
  overflow: auto; }

.logo-container {
  display: block;
  height: 32px;
  position: relative;
  width: 189px; }

.logo {
  height: 100%;
  object-fit: scale-down;
  object-position: center;
  width: 100%; }

.secondary-logo {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity .25s; }

.masthead {
  align-items: center;
  background-color: #f85032;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  height: 100px;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: background-color .25s, box-shadow .25s;
  width: 100%;
  z-index: 100; }
  .masthead.inverse {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0); }
    .masthead.inverse:not(.light) {
      color: #f85032; }
      .masthead.inverse:not(.light) .secondary-logo {
        opacity: 1; }
      .masthead.inverse:not(.light) .masthead-nav-link {
        color: #f85032; }
        .masthead.inverse:not(.light) .masthead-nav-link:hover {
          background-color: #f85032;
          color: #fff; }
  .masthead.no-account .masthead-left,
  .masthead.no-account .masthead-right {
    display: none; }
  .masthead .requires-account {
    display: none; }
  .masthead.logged-in .requires-account {
    display: block; }
  .masthead.logged-in .requires-no-account {
    display: none; }
  .masthead.logged-in .empty {
    display: none; }
  .masthead .empty {
    display: none; }

.masthead-contents {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1em;
  width: 100%; }

.masthead-left,
.masthead-right {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1; }

.masthead-left {
  display: flex; }
  .masthead-left .masthead-nav-button,
  .masthead-left .masthead-nav-link {
    margin-right: 1em; }

.masthead-right {
  display: flex;
  justify-content: flex-end; }
  .masthead-right .masthead-nav-link {
    margin-left: 1em; }

.masthead-center {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0; }

.masthead-nav {
  align-items: center;
  display: flex; }

.masthead-nav-link {
  border-radius: 1em;
  color: white;
  padding: .5em;
  text-decoration: none;
  transition: background-color .25s ease-out, color .25s ease-out; }
  .masthead-nav-link:hover {
    background-color: #e73827;
    color: #fff; }

.masthead-nav-button {
  background-color: #fff;
  border-radius: 1em;
  color: #e73827;
  font-weight: bold;
  padding: .5em;
  text-decoration: none;
  text-transform: uppercase; }

.page {
  box-sizing: border-box;
  margin: 100px auto 0;
  max-width: 740px;
  padding: 2em 1em; }

.single-form {
  max-width: 60%; }
  .single-form .btn {
    display: block; }

.form-group {
  border: 1px solid #eee;
  border-radius: 1em;
  margin: 2em 0 1em;
  padding: 1em 0 0;
  position: relative; }

.text-label {
  background-color: #fff;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  left: 1em;
  top: -.5em; }

.content {
  box-sizing: border-box;
  min-height: calc(100vh - 100px - 82px); }

.button {
  background-color: #f85032;
  border-radius: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  cursor: pointer;
  padding: .15em .75em;
  text-decoration: none; }
  .button:active {
    background-color: #e73827;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); }

.section {
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%; }
  .section:first-child {
    height: 60vh;
    padding-top: 100px; }
  .section header,
  .section p {
    position: relative;
    z-index: 50; }

.large-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center; }
  .large-text h1 {
    font-size: 3em; }
  .large-text p {
    font-size: 1.8em; }

.home-slider {
  background-color: #000;
  color: #fff; }
  .home-slider::after {
    background-image: url(/assets/graphics/pattern.jpg);
    background-size: 200px;
    content: '';
    height: 100%;
    left: 0;
    opacity: .25;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10; }

.input-select,
.input-text {
  -webkit-appearance: none;
  background-color: #fff;
  border: none;
  box-sizing: border-box;
  display: block;
  padding: 1em 1.2em;
  width: 100%; }
  .input-select:active, .input-select:focus,
  .input-text:active,
  .input-text:focus {
    outline: none; }

.form-description {
  background-color: #eee;
  border-radius: 0 0 1.1em 1.1em;
  box-sizing: border-box;
  color: #666;
  display: block;
  font-size: .8em;
  padding: .5em 1.2em;
  text-align: center;
  width: 100%; }

.btn {
  -webkit-appearance: none;
  background-color: #fff;
  border: none;
  font-weight: bold;
  margin: 0 auto;
  padding: 1em 2em;
  text-decoration: none; }

.btn-submit {
  background-color: #f85032;
  border-radius: 1em;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: background-color .25s, box-shadow .25s; }
  .btn-submit:active {
    background-color: #e73827;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    outline: none; }
  .btn-submit:focus {
    outline: none; }

.pokedex-container {
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  width: 100%; }

.pokedex {
  flex-grow: 1;
  padding: calc(100px + 2em) calc(400px + 4em) 4em 4em;
  width: auto; }

.pokedex-items-container {
  box-sizing: border-box;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr; }

.pokedex-item {
  box-shadow: 0 0 0 1px #eee;
  cursor: pointer;
  position: relative;
  transition: background-color .25s;
  user-select: none; }
  .pokedex-item.caught {
    background-color: #ffdc00; }
    .pokedex-item.caught .pokedex-item-number-container {
      color: #555; }

.pokedex-item-image-container {
  height: 100px;
  min-height: 80px;
  max-height: 120px;
  width: 100%; }
  .pokedex-item-image-container > img {
    height: 100%;
    object-position: center;
    object-fit: scale-down;
    width: 100%; }

.pokedex-item-choose-link {
  background-color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.pokedex-item-number-container {
  color: #aaa;
  font-weight: bold;
  left: .5em;
  position: absolute;
  top: .5em; }

.pokedex-item-info-button-container {
  background-color: transparent;
  border: none;
  color: #888;
  font-weight: bold;
  -webkit-appearance: none;
  position: absolute;
  top: .5em;
  right: .5em; }
  .pokedex-item-info-button-container:hover {
    color: #000; }
  .pokedex-item-info-button-container button {
    -webkit-appearance: none;
    cursor: pointer;
    color: inherit;
    font: inherit;
    background-color: transparent;
    transition: .25s color;
    border: none; }

.pokedex-item-name-container {
  padding: 0 0 .5em;
  text-align: center; }

.sidebar {
  box-sizing: border-box;
  flex-shrink: 0;
  height: 100%;
  padding: 2em 2em 0 0;
  position: fixed;
  right: 0;
  top: 100px;
  width: 400px; }
  .sidebar a {
    color: #f85032; }

.pokemon-location-info {
  background-image: url(/assets/graphics/mew.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  margin-top: 2em;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: .25s opacity, .25s visibility; }
  .pokemon-location-info.visible {
    opacity: 1;
    visibility: visible; }

.offscreen {
  position: absolute;
  left: -99999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0); }

.li-container {
  background-color: #fff;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity .25s, visibility .25s; }
  .li-container.visible {
    opacity: 1;
    visibility: visible; }

.user-pokedexes {
  background-color: #fafafa;
  outline: 1px solid #eee;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1em; }

.pokedex-list-item {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  outline: 1px solid #eee;
  padding: 1em 0;
  position: relative;
  width: 100%; }
  .pokedex-list-item img {
    height: 175px;
    opacity: .5;
    margin: 0 auto;
    transition: .25s opacity; }
  .pokedex-list-item a {
    align-items: center;
    color: #888;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    transition: .25s color;
    width: 100%; }
    .pokedex-list-item a:hover {
      color: #333; }
      .pokedex-list-item a:hover img {
        opacity: 1; }
  .pokedex-list-item span {
    padding: .5em 0 0 0; }

.footer {
  background-color: #222;
  box-sizing: border-box;
  color: #eee;
  display: flex;
  justify-content: space-around;
  padding: 2em;
  width: 100%; }
  .footer a {
    color: #eee; }

.page {
  line-height: 1.5; }
  .page a {
    color: #f85032; }

.authentication-panel {
  align-items: center;
  background-color: #f85032;
  background-image: linear-gradient(to right, #f85032, #e73827);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999; }
  .authentication-panel .logo-container {
    height: 63px;
    width: 378px; }

.authentication-portal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity .25s, visibility .25s;
  visibility: hidden;
  width: 100%;
  z-index: 500; }
  .authentication-portal.visible {
    opacity: 1;
    visibility: visible; }

.authentication-portal-content {
  align-items: center;
  background-color: #fff;
  background-image: url(/assets/graphics/mew.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  border-radius: 1.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  cursor: default;
  display: flex;
  height: 482px;
  justify-content: center;
  min-height: 100px;
  min-width: 100px;
  overflow: hidden;
  transition: height 1s, width 1s;
  width: 416px; }

.firebaseui-auth-container {
  padding: 2em; }
  .firebaseui-auth-container .firebaseui-container {
    animation: showLogin .5s both;
    background-color: #fff; }
  .firebaseui-auth-container .mdl-shadow--2dp {
    box-shadow: none; }

@keyframes showLogin {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=design.css.map */
