<section class="page">
  <header>
    <h1>About Pokégear</h1>
  </header>
  <p>
    Conceived as part of a class project, Pokégear grew from frustration over having a plethora of (the wonderful)
    <a href="https://bulbapedia.bulbagarden.net/" target="_blank">Bulbapedia</a> tabs open trying to figure out
    just how to catch &rsquo;em all. This project wouldn&rsquo;t be possible without the graciously and freely provided
    <a href="https://pokeapi.co/" target="_blank">PokéAPI</a>. Almost all of the data used here comes from PokéAPI.
  </p>
  <p>
    Check out the <a href="/contact/">Get In Touch</a> page for more details on how to ask questions, report bugs,
    and all of that kind of stuff!
  </p>
</section>