<section class="page">
  <header>
    <h1>Get In Touch</h1>
  </header>
  <p>
    To report bugs or check out how Pokégear is created, check out
    <a href="https://github.com/schwigri/pokegear/" target="_blank">Pokégear on GitHub</a>!
  </p>
  <p>
    To speak with someone directly, contact <a href="https://www.griffenschwiesow.com/" target="_blank">Griffen Schwiesow</a>
    on these platforms:
  </p>
  <ul>
    <li><a href="https://github.com/schwigri/" target="_blank">GitHub</a></li>
    <li><a href="https://instagram.com/schwigri/" target="_blank">Instagram</a></li>
    <li><a href="https://twitter.com/schwigri/" target="_blank">Twitter</a></li>
  </ul>
  <p>
    Thanks for using Pokégear!
  </p>
</section>