<div class="pokedex-container">
  <div class="pokedex">
    {% for pokedex in pokedexes %}
      <h1>{{ pokedex['name'] }}</h1>
      <div class="pokedex-items-container" id="{{ pokedex['name'] }}-container">
        {% for pokemon in pokedex['pokemon'] %}
          <div class="pokedex-item" id="pokemon-{{ pokedexes.index(pokedex) }}-{{ pokedex['pokemon'].index(pokemon) }}"
               data-id="{{ pokedexes.index(pokedex) }}-{{ pokedex['pokemon'].index(pokemon) }}"
               data-dex-num="{{ pokedex['pokemon'].index(pokemon) + 1 }}">
            <div class="pokedex-item-image-container">
              <img src="{{ pokemon['sprite'] }}" alt="{{ pokemon['name'] }}">
            </div>
            <div class="pokedex-item-number-container">
              <span class="pokedex-item-number">#{{ pokedex['pokemon'].index(pokemon) + 1 }}</span>
            </div>
            <div class="pokedex-item-name-container">
              <span class="pokedex-item-name">{{ pokemon['name'] }}</span>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div class="sidebar">
    sidebar
  </div>
</div>