<link rel="apple-touch-icon" sizes="180x180" href="/assets/graphics/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/graphics/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/graphics/icons/favicon-16x16.png">
<link rel="manifest" href="/assets/graphics/icons/site.webmanifest">
<link rel="mask-icon" href="/assets/graphics/icons/safari-pinned-tab.svg" color="#f85032">
<link rel="shortcut icon" href="/assets/graphics/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#f85032">
<meta name="msapplication-config" content="/assets/graphics/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">