<div id="masthead" class="masthead no-account">
  <div class="masthead-contents">
    <div class="masthead-left">
      <nav class="masthead-nav" id="masthead-left-nav">
        <a href="/" class="masthead-nav-button">Ultra Sun</a>
      </nav>
    </div>
    <div class="masthead-center">
      <a href="/" class="logo-container masthead-logo-container">
        <img src="/assets/graphics/logo-white.svg" alt="Pokégear" class="logo">
      </a>
    </div>
    <div class="masthead-right">
      <nav class="masthead-nav" id="masthead-right-nav">
        <a href="/account/" class="masthead-nav-link">My Trainer Card</a>
        <a href="/log-out/" class="masthead-nav-link">Log Out</a>
      </nav>
    </div>
  </div>
</div>