<!doctype html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <title>{{ page.title }}</title>
  {% include 'favicon.html' %}
  <link rel="stylesheet" href="/assets/styles/design.css">
  <link rel="stylesheet" href="https://use.typekit.net/fmx5oal.css">
  {% for tag in page.head_tags %}
    {{ tag|safe }}
  {% endfor %}
</head>
<body data-page="{{ page.id }}">
  {% include 'masthead.html' %}
  {% if page.id == 'portal' %}
  <div id="authentication-portal" class="authentication-portal">
    <div class="authentication-portal-content">
      <div id="firebaseui-auth-container" class="firebaseui-auth-container"></div>
    </div>
  </div>
  {% endif %}
  <main class="content">
    {% include page.content %}
  </main>

  <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-firestore.js"></script>
  <script src="/assets/scripts/app.js"></script>
  {% for script in page.script_tags %}
    {{ script|safe }}
  {% endfor %}
</body>
</html>